/* 
 * CSS file for AI1 to AI2 project converter 
 * 
 *  Author: Lyn Turbak (fturbak@wellesley.edu)
 */

.log_item {
  background-color: #CCCCFF; /* light blue */
  border: 1px dashed black;
  margin: 10px 5px;
  padding: 5px;
}

.log_item_input {
  background-color: #FFFFCC; /* light yellow */
  border: 1px dashed black;
  margin: 10px 5px;
  padding: 5px;
}

.log_item_output {
  background-color: #CCFFCC; /* light green */
  border: 1px dashed black;
  margin: 10px 5px;
  padding: 5px;
}

.error_item {
  background-color: #FFCCCC; /* light red */
  border: 1px dashed black;
  margin: 10px 5px;
  padding: 5px;
}

